<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ninedotmedia" translate="label" sortOrder="10">
            <label>Ninedotmedia</label>
        </tab>
        <section id="theme_settings" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Theme Settings</label>
            <tab>ninedotmedia</tab>
            <resource>Ninedotmedia_HomeCategoryTabs::configuration</resource>
            <group id="product" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product</label>
                <field id="attr_qty" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quantity of attributes to display</label>
                </field>
            </group>
        </section>
    </system>
</config>