<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ninedotmedia" translate="label" sortOrder="10">
            <label>Ninedotmedia</label>
        </tab>
        <section id="theme_settings" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Theme Settings</label>
            <tab>ninedotmedia</tab>
            <resource>Ninedotmedia_HomeCategoryTabs::configuration</resource>
            <group id="homepage" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category Tabs</label>
                <field id="category" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Homepage Category Tabs</label>
                    <source_model>Ninedotmedia\ThemeConfiguration\Model\Config\Source\CategoryList</source_model>
                </field>
                <field id="limit" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product per tab</label>
                </field>
            </group>
            <group id="product" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product</label>
                <field id="attr_qty" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quantity of attributes to display</label>
                </field>
            </group>
            <group id="header" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Header</label>
                <field id="visit_label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label</label>
                </field>
                <field id="visit_url" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL</label>
                </field>
                <field id="contact_message" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contact Message</label>
                    <comment><![CDATA[Content must be wrapped in li tag with header-links-phone class ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>