<?xml version="1.0" ?>
<!--
/**
 * @author Prateek Kumar Singh
 * @copyright Copyright (c) 2022 Tech9logy (https://www.tech9logy.com/)
 * @package Tech9logy_GuestToCustomer
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Tech9logy_SizeCalculator::tech9logy_sizeCalculator" title="Area and Price Calculator"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
