<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="smartsearch" frontName="smartsearch">
            <module name="Tech9logy_SmartSearch" />
        </route>
    </router>
</config>