/* A+++ */
.energyrating-126 {
    padding: 5px;
    background-color: green;
}

/* A++ */
.energyrating-127 {
    padding: 5px;
    background-color: green;
}

/* A+ */
.energyrating-128 {
    padding: 5px;
    background-color: green;
}

/* A */
.energyrating-129 {
    padding: 5px;
    background-color: green;
}

/* B */
.energyrating-130 {
    padding: 5px;
    background-color: orange;
}

/* C */
.energyrating-131 {
    padding: 5px;
    background-color: orange;
}

/* D */
.energyrating-132 {
    padding: 5px;
    background-color: red;
}

/* E */
.energyrating-133 {
    padding: 5px;
    background-color: red;
}
media="screen and (min-width: 768px)"
.energyrating-181, .energyrating-180, .energyrating-182 {
    background: #00855a;
    width: 60px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    position: relative;
}