.collapsibleContainer {
  border: 1px solid #ddd;
  border-radius: 2px;

  .collapsibleTab {
    background: #eee;
    padding: 1rem;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;

    &:first-child {
      border-bottom: 1px solid #ddd;
    }

    &:nth-last-child(2) {
      border-top: 1px solid #ddd;
    }
  }

  .collapsibleContent {
    padding: 1rem 2rem;
  }
}

.categories-menu {
  .title{
    color: #000000;
  }
  .categories-image-top {
    padding-top: 10px;
    .standalone {
      height: 100px !important;
    }
  }
}

.payment-method-billing-address {
  padding-bottom: 50px;
}

.amasty-extrafee-description {
  padding-bottom: 10px;
}

.products.list.items.product-items {
  .product-item {
    border: 1px solid #cccccc;
  }
}

.energyrating-4,
.energyrating-5,
.energyrating-6,
.energyrating-7,
.energyrating-126,
.energyrating-127,
.energyrating-128,
.energyrating-129 {
  background: @color-ndm-green1;
  width: 60px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  color: @color-white;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  &:after{
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid @color-ndm-green1;
    content: "";
    position: absolute;
    right: -20px;
  }
}

.energyrating-8,
.energyrating-130 {
  background: @color-ndm-green2;
  width: 60px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  color: @color-white;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  &:after{
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid @color-ndm-green2;
    content: "";
    position: absolute;
    right: -20px;
  }
}

.energyrating-9,
.energyrating-131 {
  background: @color-ndm-green3;
  width: 60px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  color: @color-black;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  &:after{
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid @color-ndm-green3;
    content: "";
    position: absolute;
    right: -20px;
  }
}

.energyrating-10,
.energyrating-132 {
  background: @color-ndm-yellow;
  width: 60px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  color: @color-black;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  &:after{
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid @color-ndm-yellow;
    content: "";
    position: absolute;
    right: -20px;
  }
}

.energyrating-133 {
  background: @color-ndm-orange1;
  width: 60px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  color: @color-black;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  &:after{
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid @color-ndm-orange1;
    content: "";
    position: absolute;
    right: -20px;
  }
}
