<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="frontend">
                <field id="grid_mode_mobile" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Grid Mode Mobile</label>
                    <source_model>Magento\Catalog\Model\Config\Source\ListMode</source_model>
                    <comment><![CDATA[Overrides default list mode based on UA match.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>