.meetanshi .title:before {
    background-image: url(https://www.bargainbuyz.co.uk/media/logo/stores/1/logo.png);
    background-size: 150px 19px;
    display: inline-block;
    width: 150px;
    height: 19px;
    content: "";
    background-repeat: no-repeat;
}
