<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!-- logger -->
    <type name="Wyomind\PickupAtStore\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Wyomind\PickupAtStore\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">PAS</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="notice" xsi:type="object">Wyomind\PickupAtStore\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    
    <!-- API -->
    <preference for="Wyomind\PickupAtStore\Api\PickupAtStoreInterface" type="Wyomind\PickupAtStore\Model\PickupAtStore" />

    <!-- PLUGIN -->
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="wyomind_pickupatstore_plugin_checkout_model_shippinginformationmanagement"
                type="Wyomind\PickupAtStore\Plugin\Checkout\Model\ShippingInformationManagement" />
    </type>

    <type name="Magento\Checkout\Model\TotalsInformationManagement">
        <plugin name="wyomind_pickupatstore_plugin_checkout_model_totalsinformationmanagement"
                type="Wyomind\PickupAtStore\Plugin\Checkout\Model\TotalsInformationManagement" />
    </type>
    
</config>