<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route frontName="extendwarranty" id="extendwarranty">
			<module name="Tech9logy_ExtendWarranty"/>
		</route>
	</router>
</config>
